* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

header {
  width: 100%;
  padding: 30px;
  /* box-shadow: 0 1px 10px $beje; */
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

i {
  color: #8C846C;
}

.header-icons {
  display: flex;
  gap: 15px;
  font-size: 8px;
  margin-bottom: 25px;
}

.header-icons a:hover i {
  color: #A6786D;
  animation: paraCima 0.8s infinite alternate;
}

.header-button {
  border: 1px solid #8C846C;
  padding: 8px 64px;
  border-radius: 14px;
  color: #8C846C;
  background-color: transparent;
  transition: background-color 0.8s;
  white-space: nowrap;
  font-size: 13px;
  font-weight: 600;
}

.header-button:hover {
  border: 1px solid #A6786D;
  background-color: #A6786D;
  color: #EDF2EB;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 940px;
  width: 100%;
  margin-bottom: 50px;
  border: 1px;
}

@media screen and (max-width: 768px) {
  .header-content {
    width: 100%;
  }
  .header-logo img {
    width: 300px;
  }
}
@keyframes paraCima {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
.bg-home {
  position: relative;
}

.bg-home:before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../img/background.png);
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.2;
}

.hero {
  color: #8C846C;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.hero h1 {
  text-align: center;
  line-height: 150%;
  padding: 10px;
}
.hero p {
  text-align: center;
  margin: 30px 0;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .hero h1 {
    font-size: 20px;
  }
  .hero p {
    font-size: 12px;
  }
}
.about {
  background-color: #A6786D;
  overflow: hidden;
  color: #EDF2EB;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 34px 14px 34px 14px;
}
.about-content img {
  max-width: 450px;
}

.about-content div {
  flex: 1;
  max-width: 450px;
}

.about-description h2 {
  font-size: 38px;
  margin-bottom: 24px;
}
.about-description p {
  /* font-size: 14px; */
  line-height: 150%;
}

@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }
  .about-content img {
    max-width: 250px;
  }
  .about-description h2 {
    font-size: 28px;
    margin-bottom: 24px;
  }
  .about-description p {
    font-size: 12px;
    line-height: 150%;
  }
}
.services {
  background-color: #EDF2EB;
  color: #A6786D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 34px 14px 34px 14px;
  max-width: 1500px;
}

.services-content h2 {
  font-size: 38px;
  margin-bottom: 24px;
  text-align: center;
}

.services-content p {
  line-height: 150%;
  margin-bottom: 34px;
  text-align: center;
  max-width: 900px;
}

.services-estetica {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0 44px 34px 44px;
}

.services-quadros {
  display: flex;
  flex-direction: column;
  background-color: #A69F7C;
  color: #8C846C;
  border-radius: 3px;
  box-shadow: 0px -1px 17px -4px #A6786D;
  overflow: hidden;
}
.services-quadros img {
  width: 100%;
  max-width: 354px;
  transition: transform 0.25s;
}

.services-quadros img:hover {
  transform: scale(1.2);
  z-index: 1;
}

.services-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: #EDF2EB;
  z-index: 2;
}

.services-info button {
  color: #EDF2EB;
  background-color: #A69F7C;
  padding: 4px 8px;
  border-radius: 4px;
  border: 0;
  cursor: default;
}

@media screen and (max-width: 768px) {
  .services-estetica {
    flex-direction: column;
  }
  .services-estetica img {
    max-width: 250px;
  }
  .services-content h2 {
    font-size: 28px;
    margin-bottom: 24px;
  }
  .services-content p {
    font-size: 12px;
    line-height: 150%;
  }
}
body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #EDF2EB;
}

button {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */